footer{

    .social-media{
        background-color: #2c2c2c;
        border-radius: 12px;
        padding: 1.5rem;
        margin-top: 2rem;
    
        .social-media-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .social-media-list{
                display: flex;
                align-items: center;
                gap: .5rem;
    
                .social-media-list-item{
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    background-color: #424242;
                    border-radius: 50%;
                }
            }
        }
    }

    .copyright{
        background-color: #2c2c2c;
        border-radius: 12px;
        padding: 1.5rem;
        margin-top: 1rem;

        p{
            color: #FFF;
            text-align: center;
        }
    }
}
