<footer>
    <div class="social-media">
        <div class="social-media-content">
            <div class="title">
                <fa-icon [icon]="faDotCircle"></fa-icon>
                <h2>Redes Sociais</h2>
            </div>
            <div class="social-media-info">
                <div class="social-media-list">
                    <a class="social-media-list-item btn" href="wwww.linkedin.com/in/davimilioli"></a>
                    <a class="social-media-list-item btn" href="https://github.com/davimilioli/"></a>
                    <a class="social-media-list-item btn" href="https://instragram.com/davimilioli_"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p><fa-icon [icon]="faCopyright"></fa-icon> 2025</p>
    </div>
</footer>