header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    background-color: #212121;
    border: 1px solid #313131;
    box-shadow: rgba(10, 10, 10, 0.06) 0px 1.2px 1.2px 0px, rgba(10, 10, 10, 0.04) 0px 5px 10px 0px;
    padding: 1rem;
    position: fixed;
    max-width: 560px;
    height: 64px;
    left: calc(50.00000000000002% - 560px / 2);
    position: fixed;
    top: 16px;
    z-index: 1;

    @media(max-width: 767px){
        left: 0;
        position: sticky;
        margin-bottom: 1rem;
        justify-content: center;
    }

    nav ul{
        display: flex;
        align-items: center;
        gap: 1rem;
        list-style: none;

        a{
            padding: 1rem;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            transition: .3s;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            fa-icon{
                color: #FFF;
                font-size: 1.1rem;   
            }

            &:hover{
                background-color: #00000037;
                transition: .3s;
            }

            &.active{
                background-color: #00000037;
            }
        }

    }
}