.contacts{
    .contacts-content{
        padding: 0 1rem;

        .title{
            margin-bottom: 2rem;
        }

        .contacts-list{
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;
            margin-top: 1rem;
            
            .contacts-list-item{
                background-color: var(--bg-secondary);
                border-radius: var(--border-radius);
                padding: var(--padding-content);
                opacity: 1;
                transition: .3s;
                cursor: pointer;
                color: #FFF;
                width: 48%;
                display: flex;
                align-items: center;
                gap: 1rem;
                text-decoration: none;

                img{
                    width: 16px;
                }


                &:hover{
                    transition: .3s;
                    opacity: .9;
                }
            }
        }
    }
}