<section class="contacts">
    <div class="contacts-content">
        <div class="title">
            <fa-icon [icon]="faDotCircle"></fa-icon>
            <h2>Contato</h2>
        </div>
        <div class="contacts-list">
            <div class="contacts-list-item">
                Linkedin
            </div>
            <div class="contacts-list-item">
                Whatsapp
            </div>
            <div class="contacts-list-item">
                Instagram
            </div>

        </div>

    </div>

</section>