<section class="contacts">
    <div class="contacts-content">
        <div class="title">
            <fa-icon [icon]="faDotCircle"></fa-icon>
            <h2>Contato</h2>
        </div>
        <div class="contacts-form">
            <app-form-contact></app-form-contact>
            
        </div>
        <div class="contacts-list">
            <a class="contacts-list-item" href="mailto:davimilioli2108@gmail.com">
                <span>
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </span> 
                Email
            </a>
            <a class="contacts-list-item" href="wwww.linkedin.com/in/davimilioli">
                <span>
                    <img src="assets/icons/linkedin.svg" alt="Linkedin">
                </span>
                Linkedin
            </a>
            <a class="contacts-list-item" href="https://instragram.com/davimilioli_">
                <span>
                    <img src="assets/icons/instagram.svg" alt="Instagram">
                </span>
                Instagram
            </a>
        </div>
    </div>
</section>