<section class="projects-detail">
    <div class="projects-detail-info">
        <div class="project-detail-info-item">
            <p>Nome: {{ project.name }}</p>
            <p>Linguagens:   
                <ng-container *ngFor="let language of project.languages; let i = index">
                    {{ language }}<span *ngIf="i < project.languages.length - 1">, </span>
                </ng-container>
            </p>
            <p>Github: <a href="{{ project.github }}">{{ project.github }}</a></p>
            <p>Ano: {{ project.year }}</p>
        </div>
    </div>
    <div class="projects-detail-content">
        <div class="projects-detail-title">
            <h1>{{ project.name }}</h1>
        </div>
        <div class="project-detail-description">
            <p>{{ project.description }}</p>
        </div>
        <div class="project-detail-features">
            <h2>Funcionalidades</h2>
            <ul>
                <li *ngFor="let feature of project.features">{{ feature }}</li>
            </ul>
        </div>
        <div class="project-detail-languages">
            <h2>Linguagens</h2>
            <ul>
                <li *ngFor="let language of project.languages">
                    {{ language }}
                </li>
            </ul>
        </div>
        <div class="project-detail-images">
            <h2>Imagens</h2>
            <ul>
                <li *ngFor="let image of project.images">
                    <img [src]="'assets/projects/' + image.imagePath" [alt]="image.title" class="lazy">
                    <h4>{{ image.title }}</h4>
                </li>
            </ul>
        </div>
        <div class="project-detail-repository">
            <h2>Repositório</h2>
            <a [href]="project.github" class="btn">Ver Repositório</a>
        </div>
    </div>
</section>