.projects-detail{

    h2{
        color: #fff;
        margin-bottom: 1rem;
    }

    .projects-detail-info{
        background-color: var(--bg-secondary);
        padding: var(--padding-content);
        border-radius: 12px;

        .project-detail-info-item{
            color: #fff;
            font-weight: 200;
            display: flex;
            flex-direction: column;
            gap: 6px;

            a{
                text-decoration: none;
                color: #fff;
                opacity: 1;
                transition: .3s;

                &:hover{
                    opacity: 0.9;
                    transition: .3s;
                }
            }
        }
    }

    .projects-detail-content{
        padding: var(--padding-content);

        .projects-detail-title{
            margin-bottom: 1rem;

            h1{
                color: #fff;
            }
        }

        .project-detail-description{
            margin-bottom: 2rem;
            p{
                color: var(--description-color);
                font-size: 1.1rem;
            }
        }

        .project-detail-features{
            margin-bottom: 2rem;

            ul{
                padding-left: 1rem;
                color: #FFF;

                li{
                    margin-bottom: .5rem;
                    color: var(--description-color);
                }
            }
        }

        .project-detail-languages{
            margin-bottom: 2rem;

            ul{
                list-style: none;
                color: #FFF;
                display: flex;
                gap: .5rem;
                align-items: center;

                li{
                    color: var(--description-color);
                    background-color: var(--btn-bg);
                    border-radius: 12px;
                    padding: 0.5rem;
                    text-align: center;
                    font-size: 13px;
                }

            }
        }


        .project-detail-repository{

        }
    }
}