.about{
    .about-content{
        padding: 0 1rem;

        .about-info{
            margin-top: 2rem;

            h1{
                color: #fff;
                margin-bottom: 1rem;
            }
        }
    }
}