<section class="about">
    <div class="about-content">
        <div class="title">
            <fa-icon [icon]="faDotCircle"></fa-icon>
            <h2>Sobre Mim</h2>
        </div>
        <div class="about-info">
            <h1>Eu sou Davi Milioli</h1>
            <p>Sou um Desenvolvedor Web com formação em Análise e Desenvolvimento de Sistemas. Atualmente morando em Rio de Janeiro, RJ. Sou um cara apaixonado pela tecnologia e criar interfaces. </p>
        </div>
        <div class="about-training">
            <div class="about-training-content">
                <div class="about-training-header">
                    <div class="title">
                        <fa-icon [icon]="faCircleDot"></fa-icon>
                        <h2>Formação</h2>
                    </div>
                </div>
                <div class="about-training-list">
                    <div class="about-training-list-item">
                        <div class="about-training-list-item-header">

                            <div>
                                <h4>(CST) Análise e Desenvolvimento de Sistemas</h4>
                                <p>UNISUAM - Centro Universitário Augusto Motta</p>
                            </div>

                        </div>
                        <div class="about-training-list-item-about">
                            <p>Estrutura de Sistemas, Dados, Programação, Probabilidade, Estatística, Sistemas Operacionais, Desenvolvimento de Software para Internet (Front-end), Infraestrutura e Arquiteturas para Suporte as Aplicações, Gerência de Projetos de Software, Desenvolvimento de Software para Internet (Back-end) e Desenvolvimento de Aplicativos Mobile.</p>
                        </div>
                        <div class="about-training-list-item-date"><span>02/2022 - 07/2024</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>