.about{
    .about-content{
        padding: 0 1rem;

        .about-info{
            margin-top: 2rem;

            h1{
                color: #fff;
                font-size: 36px;
                margin-bottom: 1rem;
            }

            p{
                font-size: 18px;
                color: #C0C0C0;
            }
        }
    }
}