#content{
    max-width: 560px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 96px 0 40px;

    #main{
        background-color: #212121;
        box-shadow: 0 1.2px 1.2px #0a0a0a0f,0 5px 10px #0a0a0a0a;
        padding: 32px 8px 8px;
        width: 100%;
        border-radius: 16px;
        border: 1px solid #313131;
    }
}