.projects-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .projects-list-item{
        background-color: var(--bg-tertiary);
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;    
        border-radius: 12px;
        box-shadow: rgba(10, 10, 10, 0.06) 0px 1.2px 1.2px 0px, rgba(10, 10, 10, 0.04) 0px 5px 10px 0px;
        opacity: 1;
        transition: .3s;
        cursor: pointer;
        display: inline-block;
        

        fa-icon{
            color: #f7f7f7;
            position: relative;
            transition: transform 0.3s ease; 
            transition: box-shadow .2s ease-in-out,transform .2s ease-in-out,top .2s ease-in-out;
        }

        &:hover{
            transition: .3s;
            opacity: .9;
            
        }

        .projects-list-item-info{

            .projects-list-item-header{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .projects-list-item-status{
                    background-color: var(--btn-bg);
                    padding: .5rem;
                    border-radius: 12px;
                    color: #FFF;
                    font-size: 12px;
                }
            }

            h4{
                color: #FFF;
                margin-bottom: 1rem;
                font-size: 1.2rem;

            }

            .projects-list-item-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                .projects-list-item-tags{
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    flex-wrap: wrap;
                    max-width: 80%;
    
                    p{
                        color: var(--description-color);
                        background-color: var(--btn-bg);
                        border-radius: 12px;
                        padding: .5rem;
                        text-align: center;
                        font-size: 13px;
                    }
                }

                .projects-list-item-view{
                    position: absolute;
                    right: 5px;
                    bottom: -7px;
                }
            }
        
        }
    }
}