<section class="introduction">
    <div class="introduction-header">
        <div class="title">
            <fa-icon [icon]="faCircleDot"></fa-icon>
            <h4>Desenvolvedor Web</h4>
        </div>
    </div>
    <div class="introduction-info">
        <div class="introduction-info-description">
            <h1>Eu sou Davi Milioli</h1>
            <p>Sou um profissional dedicado a transformar ideias em realidade por meio de habilidades técnicas e criatividade. Estou sempre em busca de novas oportunidades para aprimorar meus conhecimentos e enfrentar projetos desafiadores.  
            </p>
            <div class="introduction-info-actions">
                <a class="btn" href="assets/cv.pdf"><fa-icon [icon]="faAddressBook"></fa-icon> CV</a>
                <button (click)="copyEmail()" class="btn" [class.copied]="isCopied">
                    <fa-icon [icon]="iconCopy"></fa-icon> {{ textCopy }}
                </button>
            </div>
        </div>
    </div>
</section>

<section class="projects">
    <div class="projects-header">
        <div class="title">
            <fa-icon [icon]="faCircleDot"></fa-icon>
            <h2>Projetos</h2>
        </div>
        <div class="projects-header-action">
            <a class="btn" [routerLink]="['/projects']">Ver todos <fa-icon [icon]="faCircleRight"></fa-icon></a>
        </div>
    </div>
    <app-list-projects></app-list-projects>
</section>

