.introduction{
    padding: 0 1rem;

    .introduction-header{
        margin-bottom: 2rem;
    }

    .introduction-info{
        .introduction-info-description{

            p{
                margin: 1rem 0;
            }

            .introduction-info-actions{
                display: flex;
                gap: 1rem;

                .btn{
                    transition: transform 0.2s ease, background-color 0.3s ease;

                    &.copied {
                        background-color: #28a745; 
                    }

                    fa-icon{
                        transition: transform 0.2s ease;
                    }
                }
            }    
        }
    }
}

.projects{
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    padding: var(--padding-content);
    margin-top: 2rem;

    .projects-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
}
