.projects{
    .projects-content{

        .title{
            padding: 0 1rem;
        }
        
        .projects-info{
            margin-top: 2rem;
            padding: 0 1rem;

            h1{
                color: #fff;
                margin-bottom: 1rem;
            }

            p{
                color: var(--description-color);
            }
        }

        .projects-list{
            background-color: var(--bg-secondary);
            border-radius: var(--border-radius);
            padding: var(--padding-content);
            margin-top: 2rem;
        }
    }
}