.projects{
    .projects-content{

        .title{
            padding: 0 1rem;
        }
        
        .projects-info{
            margin-top: 2rem;
            padding: 0 1rem;

            h1{
                color: #fff;
                font-size: 36px;
                margin-bottom: 1rem;
            }

            p{
                font-size: 18px;
                color: #C0C0C0;
            }
        }

        .projects-list{
            background-color: rgb(44, 44, 44);
            border-radius: 12px;
            padding: 1.5rem;
            margin-top: 2rem;
        }
    }
}